.post-entry {
    border-radius: 0;
    padding: 1em 0;
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    margin-bottom: 1em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.061);
}

.profile {
    padding: 0em 7em;
}

.entry-content {
    font-size: 1em;
}

/* for phones */
@media screen and (max-width:550px) {
    :root {
        --gap: 26px;
        --header-height: 50px;
    }

    .nav, .footer {
        background-color: rgba(0, 0, 0, 0.2);
    }

    .profile {
        padding: 0em;
    }

}

/* For tablets */
@media screen and (min-width: 426) and (max-width:769px) {
    :root {
        --gap: 30px;
    }

}